{% extends 'base.html.twig' %}
{% block title %}testing the firewall{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <p> Hello {{ app.user.username }} !</p>
    {% endif %}
    {% if is_granted('ROLE_USER') %}
        <p> roles: {{ dump(app.user.roles) }} </p>
    {% endif %}
{% endblock %}