{% extends 'base.html.twig' %}
{% block title %}Accueil - TuttiFrutti{% endblock %}

{% block body %}
    {{ component('NavBar') }}

    <main class="ms-5 mt-5">
        <h1>Bienvenu sur Tutti frutti !</h1>
        <p>Le site qui vous permet de visualiser des musiques sur le theme des fruits.</p>
    </main>

{% endblock %}