{% extends 'base.html.twig' %}
{% block title %}test!{% endblock %}

{% block body %}
    {{ component('NavBar') }}

    <article class="presentation">
        <h1>Bienvenu sur Tutti frutti !</h1>
        <p>Le site qui vous permet de visualiser des musiques sur le theme des fruits.</p>
    </article>

    <div class="container">
        <h1>Test Turbo</h1>

        <p>Cliquez sur le lien ci-dessous pour charger une nouvelle page sans rechargement complet.</p>

        <turbo-frame id="the_frame_id">
            <a href="{{ path('app_turbo_page') }}">Lien vers une nouvelle page</a>
            <div id="main"></div>
        </turbo-frame>


    </div>
{% endblock %}