{% extends 'base.html.twig' %}
{% block title %}test!{% endblock %}

{% block body %}
    {{ component('NavBar') }}

    <article class="presentation">
        <h1>Bienvenu sur Tutti frutti !</h1>
        <p>Le site qui vous permet de visualiser des musiques sur le theme des fruits.</p>
    </article>
    <div {{ stimulus_controller('hello') }}>
        <select class="form-control" id="selectElement">
            {% for fruit in fruits %}
                <option value="{{fruit.name}}" >{{fruit.name}}</option>
            {% endfor %}
        </select>
        <script>
            new SlimSelect({
                select: '#selectElement'
            })
        </script>
    </div>
{% endblock %}