* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

}

.pointer {
    cursor: pointer;
}

.navbar {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

a {
    text-decoration: none;
    color: inherit;
}

.whoIsLogged {
    display: flex;
    height: 10vh;
    flex-direction: column;
    background-color: #f8f9fa;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f9fa;
}

.profile * {
    margin-left: 1vh;
    margin-right: 1vh;
}

.navbar-img {
    height: 3vh;
    width: auto;
    object-fit: cover;
}

.whoIsLoggedName p{
    margin-bottom: 0;
}