.card-img-top {
    height: 250px;
    min-height: 250px;
    object-fit: cover;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: ease-in-out 0.3s;

    &:hover {
        transform: scale(1.025);
    }

    .card-footer a {
        width: fit-content!important;
    }
}

.modal-header {
    --bs-modal-header-padding: 0;

    img {
        border-radius: var(--bs-border-radius-lg);
        max-height: 500px;
        min-height: 500px;
        object-fit: cover;
    }

    .btn-close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 1000;
    }
}

.modal-body {
    .text {
        width: 90%;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    aside {
        min-width: 150px;
    }
}

.link {
    overflow: hidden;
}