<li class="nav-item ms-auto">
    <img src="{{ asset(this.profilePicturePath) }}" alt="Profile picture" class="navbar-img" title="Bonjour {{ name }}"/>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ path('app_logout') }}" title="{{ logoutButtonName }}"><i class="fa fa-door-open"></i></a>
</li>